.commentBox {
  padding: 20px 20px 20px 80px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px 0 15px 0;
}

.Name {
  font-weight: bold;
  margin: 8px 0 8px 0;
  display: flex;
  flex: row;
}

.Text {
  margin: 4px 0 4px 0;
}

.Time {
  margin: 2px 0 2px 0;
}

.EditOrDelete {
  font-weight: 500;
}

.EditOrDelete > span {
  margin: 0 5px 0 5px;
}

.EditOrDelete > span:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
